
:root{
    --color: #2196F3;
    --black: #212121;
    --gray: #757575;
    --backround-color: #2F303A;
    --white: #FFFFFF;
    --blue:  #2196F3;


}
.navigation{
    color: var(--black);
}
.navigation-list :hover{
    color: var(--blue);
}
a[href="/Конткати"]{
    color: var(--black);
}
a[href="tel:+38 096 111 11 11"]{
    color: var(--gray);
}
.nav-site{
    background-color: var(--backround-color);
}
.title{
    color: var(--white);
}
.button{
 background-color: var(--blue);
 color: var(--white);
}

.text{
    color: var(--gray);
}
footer{
    background-color: var(--backround-color);
}
a[href="info@devstudio.com"]{
   color: var(--gray);
}
.address{
    color: var(--white);
}
.address{
    color: var(--white);
}
.gmail[href="info@devstudio.com"]{
    color: var(--blue);
}

body{
    font-family: "Roboto";
}
a[href="/WebStudio"]{
    font-family: "Raleway";
}
.logotype{
    font-family: "Raleway";
}
a[href="info@example.com"]{
    color: var(--gray);
}
ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation-list{
    padding-bottom: 24px;
}
.nav-site{
    padding-top: 208px;
}
.title{
    padding-bottom: 41px;
}
.button{
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 19px;
    padding-bottom: 19px;
}
.nav-button{
    padding-bottom: 198px;
}
.block{
    padding-top: 94px;
}
.nav-title{
    padding-bottom: 17px;
}
.picture{
    padding-top: 50px;
}
.team{
    padding-top: 185px;
}
h2{
    padding-top: 28px;
    padding-bottom: 10px;
}
.nav-buttons{
    padding-top: 120px;
    padding-bottom: 50px;
}
.project{
    padding-top: 26px;
    padding-bottom: 16px;
}
#text{
    padding-bottom: 16px;
}
#logotype-nav-footer{
    padding-top: 62px;
    padding-bottom: 25px;
}
.address{
    padding-bottom: 15px;
}
#gmail-nav-footer{
    padding-bottom: 15px;
}
.tel{
    padding-bottom: 60px;
}